/*
light: 300
Regualr: 400
Medium: 600
Bold: 700
*/
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
h2{
  color: $h2-color;
}
h3{
  color: $h3-color;
}
a {
  color: $color-link;
}
a:hover {
  text-decoration: underline;
  color: $color-link-hover;
}
@include responsive();
.big-size{
  font-size: $big-size;
}
.small-size{
  font-size: $small-size;
}
.overlay-black{
  background: rgba(0,0,0,0.7);
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}
.container-fluid{
  max-width: 1200px;
  @media(max-width: 576px){
    padding: 0 30px;
  }
}
.bg-black{
  background: $bg-black;
  h2{
    color: #fff;
  }
  h3{
    color: #fff;
  }
  h4{
    color: #fff;
  }
}
.text-center{
  text-align: center;
}
.btn-more, .btn-more-wite{
  display: block;
  width: 250px;
  height: 55px;
  color: #777777;
  border: solid 1px #444;
  line-height: 50px;
  margin: $margen-externo auto 0 auto;
  box-shadow: none;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 19px;
  background: #2d2d2d;
  transition: all 0.5s ease;
  text-align: center;
  &:hover, &:focus{
    text-decoration: none;
    color: #777777;
    box-shadow: 0 0 2px #151515;
  }
  @media(max-width: 768px){
    width: 175px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
  @media(max-width: 567px){
    width: 165px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
  }
  @media(max-width: 425px){
    width: 115px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
}
.btn-more-wite{
  border: solid 1px #c7c7c7;
  background: #2d2d2d;
  color: #5d5d5d;
  background: #e4e4e4;
  margin: 0 auto 0 auto;
  &:hover, &:focus{
    color: #5d5d5d;
    box-shadow: none;
  }
  &.btn-no{
    border: none;
    color: #fff;
    background: #d43e3e;
    margin: 0 auto 0 auto;
  }
  &.btn-yes{
    border: none;
    color: #fff;
    background: #6d9a5e;
    margin: 0 auto 0 auto;
  }
}
