/*
light: 300
Regualr: 400
Medium: 600
Bold: 700
*/
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
h2{
  color: $h2-color;
}
h3{
  color: $h3-color;
}
a {
  color: $color-link;
}
a:hover {
  text-decoration: underline;
  color: $color-link-hover;
}
@include responsive();
.big-size{
  font-size: $big-size;
}
.small-size{
  font-size: $small-size;
}
.overlay-black{
  background: rgba(0,0,0,0.7);
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}
.container-fluid{
  max-width: 1200px;
}
.bg-black{
  background: $bg-black;
  h2{
    color: #fff;
  }
  h3{
    color: #fff;
  }
  h4{
    color: #fff;
  }
}
